@media only screen {
  #paper {
    width: 21cm;
    height: 29.7cm;
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-sizing: border-box;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);

    padding: .5cm;
  }
}

@media print {
  body: { 
    margin: 0;
    padding: 0;
  }

  #paper {
    background: white;
    display: block;
    box-sizing: border-box;
    width: 21cm;
    height: 29.7cm;
    padding: 0.5cm;
    box-shadow: 0;
  }
}
